node_modules
test-results/
*.tgz
static/

# ---- Emacs ----
*~
\#*\#
.\#*
*.elc
auto-save-list/

# ---- Various Editor/Tooling ----
.DS_Store
*.swp
*.swo
.idea/
.vscode/
tags
TAGS

# ---- Misc ----
*.log

